*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    border: solid 2px;
    height: 668px;
}
header{
    width: 100%;
    height: 90px;
    background-color: white;
    color: black;
    position: relative;
    border-bottom: solid 1px rgb(160, 156, 156);
}
header .container{
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 30px;
}
header h1{
    padding-top: 12px;
    float: left;
}
header img{
    position: absolute;
    left: 42%;
    width: 70px;
}

#status-bar, #q1, #q2, #q22, #q23, #q3{
    display: none;
}
@media (max-width: 1023px){
/* for mobile devices smaller than 1024 pixels, up to a landscape ipad */
    button{
        font-size: 20px;
        border: solid 2px;
        background-color: white;
        padding: 0 10px;
        margin: 10px 10px 10px 10px;
    }
    #website-name{
        display: none;
    }
    main{
        font-size: 20px;
        text-align: center;
    }
    main .container{
        padding: 15px 30px 30px 30px;
    }
    #start {
        width: 45%;
        height: 40px;
        
    }
    #status-bar{
        width: 100%;
        height: 100px;
        justify-content: center;
        margin: 10px 0 0 0;
    }
    .circle{
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        padding: 0 5px 0 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
        border: solid 2px;
        border-radius: 50%;
    }
    .circle p{
    position: absolute;
    bottom: 25px;
    }
    #cp2{
        bottom: 35px;
        font-size: 15px;
    }
    #c1{
        border-color: orange;
    }

    #dropdown1 #dropdown-box{
        display: none;
    }
    input[type="radio"]{
        margin-left: 17px;
    }
    #next{
        position: absolute;
        bottom: 60px;
        left: 60%;
        width: 35%;
        height: 7%;
    }
    #back{
        position: absolute;
        bottom: 60px;
        left: 15%;
        width: 25%;
        height: 7%;
    }
    .choice{
        border-color: red;
    }

}

@media (min-width: 1024px){
/* for laptops and PCs, larger than 1025 pixels */
    
}