
.header{
    
    width: 100%;
    background-color: white;
    height: 80px;
    width: 100%;
    z-index: 5;
    
}
#logo-img{
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;
    width: 300px;
   

}
/*.headerRight{
    float: right;
    margin-right: 2%;
}*/

#boltIcon{
    font-size: 18px;
    position: absolute;
    left: 66%;
    height: 30px;
    margin-right: 100px;
    background-color: rgb(250, 154, 154);
    opacity: 0.8;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    margin-right: 5px;
    margin-top: 20px;;
    width: 10%;
    height: 40px;

}
#boltDropdown{
    
    position: absolute;
    z-index: 6;
    left: 60%;
    margin-top: 65px;
    width: 27%;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 10px 10px 10px;
    display: none;
}
#boltDropdown input{
    font-size: 18px;
    background: none;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    width: 95%;
    height: 40px;
}
.header input[id="logOut"]{
    position: absolute;
    
    left: 80%;
    font-size: 18px;
    background: none;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    margin-right: 5px;
    margin-top: 20px;;
    width: 15%;
    height: 40px;
}



body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-image:url(assets/van-background1.jpg);

    /*background-repeat: no-repeat;*/
    background-size:cover;
    background-position:center;
    position:relative;
    min-width: 900px;
}

#completeDetails{
    display: none;
    padding: 0 10px 10px 10px;
    position: fixed;
    left: 15%;
    margin-top: 32px;
    z-index: 7;
    background-color: white;
    width: 70%;
    height: 70%;
    min-height: 380px;
    min-width: 650px;
    border-style: solid;
    border-width: 0.5px;
    overflow-x: auto;
    
}
#completeDetails h2{
    position: absolute;
    left: 30%;
}

#completeDetails input[type="button"]{
    
    background: none;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    margin-right: 5px;
    width:120px;
    height: 40px;
    margin-top: 10%;
    
}

.cross{
    position: absolute;
    left: 93%;
    margin-top: 2%;
    width: 30px;
}

#openDriversLicence{
    width: 95%;
    height: 67%;
    position: absolute;
    padding-left: 2%;
}

.openDLInfo{
    display: none;
    height: 50%;
    width: 100%;
}
.openDLInfo .nextBtn input[type="button"]{
    position: absolute;
    left: 80%;
    transform: translate(0,100%);
}
.openDLInfo .backBtn input[type="button"]{
    position: absolute;
    left: 60%;
    transform: translate(0,100%);
}

/*#openDriversLicence input[type="button"]{
    position: absolute;
    left: 70%;
    width: 80px;
}*/
#blah{
    position: absolute;
    margin-top: 0%;
    left: 43%;
    max-width: 25%;
    max-height: 100%;
}
#uploadDriversLicence{
    left: 3%;
}
#blah2{
    max-width: 80%;
    max-height: 100%;
}
#checkDLColumn1 {
    float: left;
    width: 40%;
}
#checkDLColumn2{
    float: left;
    width: 40%;
    margin-left: 20px;
}





#container{
    height: 88%;
    width: 100%;
}

.white-box{
    display: inline-block;
    margin-top: 3.5%;
    margin-left: 5%;
    margin-bottom: 3.5%;
    left: 50%;
    width: 26%;
    height: 70%;
    background-color: white;
    opacity: 0.8;
    padding-left: 2%;
    
}

#container .van-name{
    text-align: center;
}
.gray-info{
    color: gray;
    padding-right: 0;
}

.status-picture{
    width: 70%;
    
}

/*header scrolling stuff*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + #container + #completeDetails{
    padding-top: 102px;
  }
.sticky + #completeDetails {
    margin-top: 109px;
}
